@use "../abstracts/" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
}

html {
  // Defines what 1rem will be
  font-size: 61.5%;
  // font-size: 60%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 53%;
  }

  @include respond(desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  z-index: 0;
}
