// font
// $font-body:
@font-face {
  font-family: "manrope";
  src: url(/dist/assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}

@font-face {
  font-family: "fraunces";
  src: url(/dist/assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
