@use "../abstracts/mixins" as *;

.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    padding: 1.9rem 3.2rem;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
    line-height: 3.2rem;
    letter-spacing: -0.18px;

    @include respond(tab-port) {
      font-size: 1.6rem;
      letter-spacing: -0.16px;
    }
    @include respond(phone) {
      padding: 1.5rem 3.2rem;
    }
  }

  &__primary {
    background-color: var(--color-green);
    color: var(--color-primary);
    border: 2px solid transparent;
    transition: all 0.2s;
    text-decoration: none;

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-green);
      border: 2px solid var(--color-green);
    }
  }

  &__secondary {
    color: var(--color-white);
    background: transparent;
    @include text-docoration;
    transition: all 0.2s ease 0s;

    &:hover {
      color: var(--color-green);
    }
  }
}
