@use "../abstracts/" as *;

.footer {
  padding-block: 18rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;

  @include respond(tab-land) {
    padding: 4rem 2rem;
  }

  @include respond(tab-port) {
    padding: 0px;
    margin-bottom: 8rem;
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    & svg {
      transition: filter 0.2s ease 0s;
      &:hover {
        filter: contrast(200%);
      }
    }
  }
}
